{% extends 'base.html.twig' %}

{% block body %}

    {% for flash_message in app.session.flashBag.get('notice') %}
        <p>{{ flash_message }}</p>
    {% else %}
        <p> </p>
    {% endfor %}



    {{ form_start(form) }}

        {{ form_row(form.avatar) }}

    {{ form_end(form) }}

{%  endblock %}