{% extends 'base.html.twig' %}

{% block body %}

    {% for flash_message in app.session.flashBag.get('notice') %}
        <p>{{ flash_message }}</p>
    {% else %}
        <p>N'oubliez pas de cliquer sur enregistrer !</p>
    {% endfor %}

    {{ app.user.username|default('') }}

    {{ form_start(form) }}

    {{ form_end(form) }}

{%  endblock %}